@import "../../styles/variables";

.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  padding: 8px 16px;
  z-index: 100;
  width: max-content;

  ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;

    li {
      a {
        color: $color-white;
        font-weight: 600;
        transition: color 0.3s;
        display: flex;
        align-items: center;
        gap: 30px;
        font-size: 14px;
        font-weight: 500;

        &:link,
        &:visited,
        &:active {
          color: $color-white;
        }

        &:is(:hover, .active) {
          color: #9b59b6;
        }
      }
    }
  }
}
